--- yaml
layout: 'default'
title: 'Ramblings of an idiot'
---

// Example row of columns.

.row
  .col-xs-12.col-md-8
    h2 Whats this about then?
    p I guess I will update this site from time to time. I'll put some stuff on the blog soon.

  .col-xs-12.col-md-4
    .media
      img.media-object.pull-left(src="http://www.gravatar.com/avatar/6f18696575c45699db8d90f3947ea013.png")
      .media-body
        h2.media-heading Steve Miller

    h4 Recent Posts
    nav.linklist
      each doc in getCollection('posts').toJSON()
        li
          span= doc.date.toDateString()
          |  &raquo;&nbsp;
          a(href=doc.url)= doc.title
